---
layout: default
title: Student Work in Digital Humanities
bodyid: student-work
bodyclass: student-work
auto: true
---
<section class="slide" id="poster-welcome">
    <h1>Student Work in Digital Humanities</h1>
    <p>Whether as a Fellow in our Digital Humanities or Praxis programs, or a graduate student interested in digital tools and methods, we offer mentoring, collaboration, & a safe space for anyone curious about learning to push disciplinary & methodological boundaries through new approaches.</p>
    <p>We're foremost a space for learning together—about anything—by trying stuff. Think of us as friends and colleagues who can help you teach yourself new ways of approaching your interests. We'd love you to be part of our community!</p>
</section>

{% include saunders.html %}
{% include morgenstern.html %}
{% include dunkelbarger.html %}
{% include foy.html %}
{% include buysse.html %}
