<section class="slide leader small" id="leader">
    <!-- image at images/leader.png -->
    <h1>Digital Sepoltuario</h1>
    <p>Anne Leader's Digital Sepoltuario project is an online resource for studying commemorative culture in Florence, Italy, from the 13th-18th centuries. Based on the city-wide sepoltuario compiled by the antiquarian Stefano Rosselli in the mid-seventeenth century, this site includes an illustrated catalogue of the city’s memorials that recreates the commemorative landscape of the pre-modern city. </p>
    
  </section>