<section class="slide mcmillen small" id="mcmillen">
    <!-- image at images/mcmillen.png -->
    <h1>American Indian Land Loss</h1>
    <p>History Professor Christian McMillen’s American Indian Land Loss project spans the 20th century history of Indian land sales, and a major component of that project is the digitization of historic, publicly available government data heretofore only available in analog form, in combination with General Land Office patent data. Once digitized the data will be utilized to understand, among other things, where and under what conditions land sales were more or less prevalent. The digitized materials will also allow the mapping of land loss and retention. McMillen would like to develop a methodology that would allow for other data sets, of which there are untold numbers in archives and government documents, related to American Indians, to be similarly unlocked and made available for research.</p>
    
  </section>