<section class="slide parham small" id="parham">
    <!-- image at images/parham.png -->
    <h1>Digital Sepoltuario</h1>
    <p>Sociology Associate Professor Angel Parham's Layered Memories project excavates everyday histories by using what she calls <em>lieux de souvenir</em> analysis. <em>Lieux de souvenir</em> are places whose histories have been forgotten, submerged, or only very partially remembered. The focus is on three sites in New Orleans and their physical and social transformation over three centuries: the Hermann-Grima historic house; the site of a French Quarter hotel that used to be a slave market, and the New Orleans African American Museum located in the historic Black neighborhood Tremé. </p>
    
  </section>